#sidebar{
    background-color: #282c3f;
    color: white;
    float: right;
    width: 30%;
    margin-top: 40px;
}
#sidebar h1{
    margin: 20px;
}
#sidebar p{
    margin: 20px;
}
#title{
    float: left;
    width :65%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#title .p2{
    
    padding: 10px; 
}
#title h1{
    margin-bottom: 10px;
    margin-left: 10px;
    color: #282c3f;
}